/* баннер с таймером */
.banner__container {
    margin-top: 30px;

    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    border: 5px solid #d2001f;
    user-select: none;
}
    /* подклассы */
    .banner__text {
        margin: 25px 0;
        color: #ffffff;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.381);;
    }
    .banner__timer {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .timer__block {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .timer__value {
        width: 70px;
        height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        font-size: 28px;
        font-weight: 700;

        border-radius: 50%;
        background-color: #f92948;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.381);
    }
    .timer__type {
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.381);;
        margin-top: 10px;
        color: #ffffff;
        font-size: 24px;
    }