.data__container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    /* 1 блок */
    .enter-data {
        width: 60%;
    }
        /* поле ввода пароля */
        .enter-password {
            padding:  20px 20px 0 20px;
            margin-bottom: 30px;
            font-style: italic;
        }
        .enter-password p { margin-bottom: 10px; }
        .enter-password input { width: 100%; }

    .text-with-input {
        padding: 0 20px;
        margin: 10px 0;

        width: 100%;
        display: flex;
        align-items: center;
    }
    .text-with-input input { width: 100%; }
    .text-with-input span { 
        margin-right: 10px; 
        width: 100px;
        font-weight: 500; 
    }
    .text-with-input:first-child { margin-top: 0; }
    .text-with-input:last-child { margin-bottom: 0; }

    #information {
        max-width: 100%;
        min-width: 100%;
        max-height: 300px;
        min-height: 100px;
    }

    /* 2 блок */
    .place-order {
        width: 35%;
        border: 2px solid #90909033;;
    }
        /* таблица заказа */
        .order-table {
            width: 100%;
        }
        .order-table td:last-child { text-align: right; }



@media (max-width:767px) {
    .data__container { flex-direction: column; align-items: center; }
    .enter-data { width: 100%; }
    .place-order { width: 100%; }
}