* { font-family: Montserrat; }
.red { color: #d2001f !important; }
.white { color: #ffffff !important; }
.dn { display: none; }
.bold { font-weight: 700; }

/* контейнер для всего контента */
    .container {
        margin: 0 auto;
        padding: 0 25px;
        max-width: 1200px;
    }

/* стиль для кнопок с иконками слева */
    .item-with-icon {
        display: flex;
        align-items: center;

        user-select: none;
        cursor: pointer;
    }
    .item-with-icon:hover * { color: #d2001f; }
    .item-icon {
        width: 15px;
        height: 15px;
    }
    .item-text {
        margin-left: 5px;

        color: #ffffff;
        font-size: 12px;
        font-weight: 500;

        transition: all 0.2s linear;
    }

/* стиль для кнопок с иконками по центру */
    .btn-logo {
        width: 80px;
        position: relative;
        top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        background: transparent;
        user-select: none;
        cursor: pointer;
    }
    .btn-counter {
        width: 15px;
        height: 15px;

        position: absolute;
        right: 20px;
        top: -5px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        color: #ffffff;

        background-color: #d2001f;
        border-radius: 50%;
    }
    .btn-logo .item-icon {
        width: 20px;
        height: 20px;
    }

/* загаловки */
    .hder {
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: 700;
    }


/* ШАПКА */
/* ШАПКА */
/* ШАПКА */

    .h-row__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* первая строка */
        .header__row1 {
            padding: 12px 0;
            background-color: #181924;
        }
        .header__contacts {
            width: 375px;
            display: flex;
            justify-content: space-between;
        }
        .header__user {
            width: 170px;
            display: flex;
            justify-content: space-between;
        }

    /* вторая строка */
        .header__row2 {
            padding: 25px 0;
            position: relative;
            background-color: #0d0e17;
            border-bottom: 3px solid #d2001f;
        }
        .logo {
            font-size: 40px;
            color: #ffffff;
            font-weight: 700;
            user-select: none;
        }
        .logo > span{
            margin: 0 3px;
        }
        .header__searchbar {
            width: 50%;
            display: flex;

            border-radius: 5px;
            overflow: hidden;
            user-select: none;
        }
        .header__searchbar * { 
            padding: 10px;
            font-size: 14px; 
        }
        #search-category {
            /* text-align: centser; */
            font-size: 10px;
            border-right: 1px solid rgba(128, 128, 128, 0.496);
        }
        #search-text {
            width: 100%;
        }
        #search-button {
            color: #ffffff;
            font-weight: 700;
            background-color: #d2001f;
        }
        .header__wc {
            display: flex;
            justify-content: flex-end;
        }

    /* третья строка */
        .header__row3 {
            padding: 15px;
            border-bottom: 2px solid #90909033;
        }
        .navigator__list {
            width: 450px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        input[name='pages'] { display: none; }
        .navigator__link { user-select: none; }
        .navigator__link:hover .nav-btn__text{ color: #d2001f; }
        .nav-btn__text {
            font-size: 16px;
            color: #000000;
    
            cursor: pointer;
            transition: all 0.25s ease;
        }
        input[name='pages']:checked + .nav-btn .nav-btn__text { color: #d2001f; }
        input[name='pages']:checked + .nav-btn .nav-btn__underline { width: 100%; }
        .nav-btn__underline {
            margin-top: 4px;
            width: 0%;
            height: 3px;
            background-color: #d2001f;
            transition: all 0.25s ease;
        }
        .nav-btn:hover .nav-btn__underline { width: 100%; }


/* меню бургер */
#menu-burger { display: none; }
label[for='menu-burger'] 
{ 
    display: none; 
    position: absolute;
    right: 20px;
    bottom: 10px;
}
label[for='menu-burger'] .item-text { font-size: 14px; }




/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
.page {  }

    /* категории товаров */
    .page__categories {
        padding: 30px 0 15px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    /* блок категории */
        .category-block {
            margin-bottom: 15px;
            width: 32%;

            position: relative;
            top: 0;

            background-color: #e5e8ee;
            overflow: hidden;
        }
        .category-block:hover .block-img { transform: translate(-50%) scale(1.1); }
        .category-block::before {
            content: '';
            width: 300px;
            height: 400px;

            position: absolute;
            top: 0;
            left: -200px;
            z-index: 1;

            transform: skew(-45deg);
            background-color: #d20020e2;
        }
        .block-content {
            margin: 25px;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        .block-text {
            margin-bottom: 10px;

            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
        }
        .block-ref {
            position: relative;
            top: 0;

            font-size: 16px;
            color: #ffffff;
        }
        .block-ref::after {
            content: url('../svg/arrow_next_right_icon.svg');

            width: 15px;
            height: 15px;

            position: absolute;
            right: -25px;
            top: 50%;

            transform: translateY(-48%);
        }
        .block-ref:hover { text-decoration: underline; }
        .block-img {
            height: 200px;

            position: relative;
            top: 50%;
            left: 50%;

            user-select: none;
            transform: translate(-50%);
            transition: all 0.2s ease;
        }

    /* блок популярного товара */
    .popular-block {
        margin: 15px 10px;
        padding: 20px 10px;

        height: 410px;

        position: relative;
        z-index: 2000;

        text-align: center;
        background-color: #fff;
        border: 2px solid rgb(223, 223, 223);
        transition: all 0.1s linear;
    }
    /* наведение мыши */
    .popular-block:hover { border-color: #d2001f; }
    /* подкатегории */
        .popular__img {
            margin: 0 auto 25px;
            height: 170px;
            cursor: pointer;
        }
        .popular__category {
            margin-bottom: 10px;
            color: gray;
            font-size: 12px;
            text-transform: uppercase;
        }
        .popular__name {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 700;
            bottom: 1px solid black;
        }
        .popular__price {
            color: #d2001f;
            font-size: 20px;
            font-weight: 700;
        }
        .popular__line {
            margin: 10px auto 15px;
            
            width: 80%;
            height: 1px;

            background-color: rgb(226, 226, 226);
        }
        .popular__buttons {
            margin: 0 auto;
            width: 50%;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .popular__buttons > * {
            padding: 7px;

            background-color: #ffffff;
            transition: all 0.15s linear;
        }
        .popular__buttons > *:hover {
            background-color: rgb(226, 226, 226);
            border-radius: 50%;
        }
        .popular__buttons > *:active {
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
        .popular__buttons img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

/* в корзину (кнопка) */
    #to-cart {
        padding: 0 10px;
        margin: 10px auto 0;
        height: 30px;
        width: 142px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #ffffff;
        font-weight: 700;
        font-size: 16px;

        background-color: #ff3755;
        outline: 2px solid #ff3755;
        border-radius: 5px;
        transition: all 0.15s linear;
    }
    #to-cart:hover {
        width: 160px;
        justify-content: space-between;
        color: #d2001f;
        background-color: #ffffff;
    }
    #to-cart img { 
        width: 20px;
        height: 20px;

        display: none;  
    }
    #to-cart:hover img {  display: block; }

/* кнопки навигации популярных товаров */
    .slick-button {
        position: relative;
        color: #d2001f;
        background: transparent;
        user-select: none;
    }        
    .slick-button:hover { text-decoration: underline; }        
    .slick-button:first-child { margin-right: 10px; }        
    .slick-button:last-child { margin-left: 10px; }        
    .slick-prev::before {
        content: url('../svg/arrow_next_right_icon(red).svg');
        
        width: 15px;
        height: 15px;

        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%) rotateY(180deg);
    }
    .slick-next::after {
        content: url('../svg/arrow_next_right_icon(red).svg');
        
        width: 15px;
        height: 15px;

        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .slider-arrows {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* блок подписки на рассылку */
    .page__subscribe {
        margin: 20px 0;
        padding: 40px 0;

        position: relative;
        top: 0;
    }
    /* плавающая иконка */
    .bg-icon {
        width: 200px;
        position: absolute;
        top: 10px;
        max-left: 100px;
        z-index: -1;
        transform: rotate(-25deg);
    }
    .page__subscribe h1 {
        font-size: 30px;
        text-align: center;
    }
    .subscribe__enter-email {
        margin:30px auto 0;
        max-width: 500px;

        display: flex;
        justify-content: space-between;

        border-radius: 10px;
        border: 1px solid #d2001f;
        overflow: hidden;
    }
    #email-input {
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }
    #subscribe {
        padding: 10px;
        color: #ffffff;
        font-weight: 700;
        background-color: #d2001f;
    }
    /* социальные сети */
    .socials__container {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .square-icon-block {
        padding: 10px;
        margin: 0 7px;

        border: 1px solid #e4e7ed;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    .square-icon-block:hover { background-color: #e4e7ed; }
    .square-icon-block:first-child { margin-left: 0; }
    .square-icon-block:last-child { margin-right: 0; }
    .square-icon-block img {
        width: 25px;
        height: 25px;
    }


/* ПОДВАЛ */
/* ПОДВАЛ */
/* ПОДВАЛ */
.footer {  }
    /* первая строка */
    .footer__row1 {
        background-color: #0d0e17;
        border-top: 3px solid #d2001f;
    }
    .block-list {
        padding-bottom: 50px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .info-block {
        margin-right: 40px;
        width: 200px;
    }
    .info-block h1 {
        margin: 50px 0 25px;
        font-size: 24px;
        font-weight: 700;
    }
    .info-block * { color: #d2d2d2; }
    .info-block > * {  margin: 10px 0; }
    .link-list li { margin: 15px 10px; }
    .footer__link {  }

    /* вторая строка */
    .footer__row2 { background-color: #1e1f29; }
    .footer__row2 p {
        padding: 30px 0;
        color: #d2d2d2;
        text-align: center;
    }



/* для корректных анимаций */
.header { overflow: hidden; }
.page { overflow: hidden; }



/* медиа-запросы */
@media (max-width:1200px) {
    .container { max-width: 970px; }

    .popular__img { height: 140px; }
    .popular-block { height: 380px; }
}
@media (max-width:992px) {
    .container { max-width: 750px; }
    .header__searchbar { width: 40%; }
    
    .category-block { width: 49%; }

}
@media (max-width:767px) {
    .container { max-width: none; }

    .h-row__content { flex-direction: column; }
    .h-row__content > * { margin: 10px 0; }
    .header__row1 { padding: 5px 0; }
    .header__row2 { padding: 10px 0; }
    .header__contacts {width: 350px; }
    .header__searchbar { width: 90%; }
    .header__wc { align-self: flex-start; margin-left: 4%; }
    #search-category { width: 100px;}
    .header__row3 { border-bottom: none; }

    /* меню бургер */
    label[for='menu-burger'] { display: block; }
    .navigator__list {
        padding: 20px;

        width: 200px;
        height: 100vh;

        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #0d0e17;
        transition: all 0.4s ease;
    }
    .navigator__list > *{ margin: 10px; }
    .navigator-area { 
        margin: 0;
        width: 100%; 
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #000000; 
        opacity: 0.4;
    }
    .burger-select { left: 0; }
    .navigator__list * { color: #ffffff; }
    .header__row3 { padding: 0; }
    .header__navigator { margin: 0; }

    /* категории товаров */
    .category-block { width: 100%; }

    /* популярные товары */
    .popular__img { height: 170px; }
    .popular-block { height: 410px; }
}
@media (max-width:570px) {
    /* убираем минуты и секунды на баннере */
    .timer__block:nth-child(4){ display: none;  }
    .timer__block:nth-child(3){ display: none;  }
}
@media (max-width:400px) {
    .hder { font-size: 24px; }
    .page__subscribe h1 { font-size: 24px; }
}


