* { font-family: Montserrat; }
.red { color: #d2001f !important; }
.white { color: #ffffff !important; }
.dn { display: none; }

/* контейнер для всего контента */
    .container {
        margin: 0 auto;
        padding: 0 25px;
        max-width: 1200px;
    }

/* стиль для кнопок с иконками слева */
    .item-with-icon {
        display: flex;
        align-items: center;

        user-select: none;
        cursor: pointer;
    }
    .item-with-icon:hover * { color: #d2001f; }
    .item-icon {
        width: 15px;
        height: 15px;
    }
    .item-text {
        margin-left: 5px;

        color: #ffffff;
        font-size: 12px;
        font-weight: 500;

        transition: all 0.2s linear;
    }

/* стиль для кнопок с иконками по центру */
    .btn-logo {
        width: 80px;
        position: relative;
        top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        background: transparent;
        user-select: none;
        cursor: pointer;
    }
    .btn-counter {
        width: 15px;
        height: 15px;

        position: absolute;
        right: 20px;
        top: -5px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        color: #ffffff;

        background-color: #d2001f;
        border-radius: 50%;
    }
    .btn-logo .item-icon {
        width: 20px;
        height: 20px;
    }



/* ШАПКА */
/* ШАПКА */
/* ШАПКА */

    .h-row__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* первая строка */
        .header__row1 {
            padding: 12px 0;
            background-color: #181924;
        }
        .header__contacts {
            width: 375px;
            display: flex;
            justify-content: space-between;
        }
        .header__user {
            width: 170px;
            display: flex;
            justify-content: space-between;
        }

    /* вторая строка */
        .header__row2 {
            padding: 25px 0;
            position: relative;
            background-color: #0d0e17;
            border-bottom: 3px solid #d2001f;
        }
        .logo {
            font-size: 40px;
            color: #ffffff;
            font-weight: 700;
            user-select: none;
        }
        .logo > span{
            margin: 0 3px;
        }
        .header__searchbar {
            width: 50%;
            display: flex;

            border-radius: 5px;
            overflow: hidden;
            user-select: none;
        }
        .header__searchbar * { 
            padding: 10px;
            font-size: 14px; 
        }
        #search-category {
            /* text-align: centser; */
            font-size: 10px;
            border-right: 1px solid rgba(128, 128, 128, 0.496);
        }
        #search-text {
            width: 100%;
        }
        #search-button {
            color: #ffffff;
            font-weight: 700;
            background-color: #d2001f;
        }
        .header__wc {
            display: flex;
            justify-content: flex-end;
        }

    /* третья строка */
        .header__row3 {
            padding: 15px;
            border-bottom: 2px solid #90909033;
        }
        .navigator__list {
            width: 450px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        input[name='pages'] { display: none; }
        .navigator__link { user-select: none; }
        .navigator__link:hover .nav-btn__text{ color: #d2001f; }
        .nav-btn__text {
            font-size: 16px;
            color: #000000;
    
            cursor: pointer;
            transition: all 0.25s ease;
        }
        input[name='pages']:checked + .nav-btn .nav-btn__text { color: #d2001f; }
        input[name='pages']:checked + .nav-btn .nav-btn__underline { width: 100%; }
        .nav-btn__underline {
            margin-top: 4px;
            width: 0%;
            height: 3px;
            background-color: #d2001f;
            transition: all 0.25s ease;
        }
        .nav-btn:hover .nav-btn__underline { width: 100%; }


/* меню бургер */
#menu-burger { display: none; }
label[for='menu-burger'] 
{ 
    display: none; 
    position: absolute;
    right: 20px;
    bottom: 10px;
}
label[for='menu-burger'] .item-text { font-size: 14px; }




/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
.page {  }

    /* категории товаров */
    .page__categories {
        padding: 30px 0 15px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    /* блок категории */
        .category-block {
            margin-bottom: 15px;
            width: 32%;

            position: relative;
            top: 0;

            background-color: #e5e8ee;
            overflow: hidden;
        }
        .category-block:hover .block-img { transform: translate(-50%) scale(1.1); }
        .category-block::before {
            content: '';
            width: 300px;
            height: 400px;

            position: absolute;
            top: 0;
            left: -200px;
            z-index: 1;

            transform: skew(-45deg);
            background-color: #d20020e2;
        }
        .block-content {
            margin: 25px;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        .block-text {
            margin-bottom: 10px;

            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
        }
        .block-ref {
            position: relative;
            top: 0;

            font-size: 16px;
            color: #ffffff;
        }
        .block-ref::after {
            content: url('../svg/arrow_next_right_icon.svg');

            width: 15px;
            height: 15px;

            position: absolute;
            right: -25px;
            top: 50%;

            transform: translateY(-48%);
        }
        .block-ref:hover { text-decoration: underline; }
        .block-img {
            height: 200px;

            position: relative;
            top: 50%;
            left: 50%;

            transform: translate(-50%);
            transition: all 0.2s ease;
        }







/* медиа-запросы */
@media (max-width:1200px) {
    .container { max-width: 970px; }
}
@media (max-width:992px) {
    .container { max-width: 750px; }
    .header__searchbar { width: 40%; }
    
    .category-block { width: 49%; }
}
@media (max-width:767px) {
    .container { max-width: none; }

    .h-row__content { flex-direction: column; }
    .h-row__content > * { margin: 10px 0; }
    .header__row1 { padding: 5px 0; }
    .header__row2 { padding: 10px 0; }
    .header__contacts {width: 350px; }
    .header__searchbar { width: 90%; }
    .header__wc { align-self: flex-start; margin-left: 4%; }
    #search-category { width: 100px;}
    .header__row3 { border-bottom: none; }

    /* меню бургер */
    label[for='menu-burger'] { display: block; }
    .navigator__list {
        padding: 20px;

        width: 200px;
        height: 100vh;

        position: absolute;
        top: 0;
        left: -100%;
        z-index: 20;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #0d0e17;
        transition: all 0.4s ease;
    }
    .navigator__list > *{ margin: 10px; }
    .navigator-area { 
        margin: 0;
        width: 100%; 
        height: 100vh;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #000000; 
        opacity: 0.4;
    }
    .burger-select { left: 0; }
    .navigator__list * { color: #ffffff; }

    .page__categories { padding: 0; }
    .category-block { width: 100%; }
}